/* line 1, framework/modules/teste/_test.scss */
h1 {
  font-size: 25px; }

/* line 5, framework/modules/teste/_test.scss */
p {
  font-size: 14px;
  color: black;
  background-color: orange;
  font-style: italic; }

/* line 9, framework/modules/teste/_test.scss */
span {
  font-size: 12px;
  color: red;
  background-color: orange; }

@media screen and (max-width: 768px) {
  /* line 14, framework/modules/teste/_test.scss */
  h1 {
    font-size: 18px; } }
