h1{
    color: object-get(color_test, true_private);
}

@each $name, $value in $test{
    $name: str-remove-whitespace(to-string($name));
    .bg-status--#{$name}{
        color: object-get(color_test, #{$name});
    }
}