h1 {
    font-size: object-get(titleSize, h1);
}

p {
    @include object-get(defaults, (color: black, font-size:14px, font-style: italic));
}

span {
    @include object-get(defaults);
}

h2 {
    background-color: hsla_generator(#FF0000, 2%, false);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: object-get(titleSize, h3);
    }
}